*
{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.scene
{
weight: 100vw;
height: 300vh;
background: rgb(36,86,155);
 background: linear-gradient(182deg, rgba(36,86,155,1) 18%, rgba(159,78,145,1) 29%, rgba(255,132,28,1) 35%, rgba(255,132,28,1) 38%, rgba(16,24,46,1) 41%);
  background-attachment: fixed;
  overflow: hidden;
}
.home
{
  position: absolute;
  top: 225px;
  right: 740px;
  z-index: inherit;
}
.aboutme
{
  position: absolute;
  top: 235px;
  right: 355px;
  z-index: inherit;
}
.portfo
{
  position: absolute;
  top: 270px;
  right: 0px;
  z-index: inherit;
}
.box
{
  top: 15.4%;
  right: 50px;
  width: 120%;
  height: 1910px;
  background: #10182e;
  position: relative;

}
h1
{
  text-align: center;
  color: #FF841C;
  padding: 1em;
  font-family: 'monaco', monospace;
  font-size: 18pt;
  text-decoration:underline;
}
h2
{
  text-align: center;
  color: #FF841C;
  padding: 1em;
  font-family: 'monaco', monospace;
  font-size: 18pt;
  text-decoration:underline;
}
h3
{
  text-align: center;
  color: #FF841C;
  padding: 1em;
  font-family: 'monaco', monospace;
  font-size: 18pt;
  text-decoration:underline;
}
h4
{
  top: 810px;
  right: 1220px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 14pt
}
p
{
padding: 1em;
color: white;
font-family: 'monaco', monospace;
font-size: 14pt;
}
ul{
  padding: 1em;
  text-align: center;
  list-style: inside;
}
li
{

  padding: 1em;
  color: white;
  font-family: 'monaco', monospace;
  font-size: 14pt;
}
div
{
  padding: 1em;
  line-height: 1.2;

}
.box2
{
  top: 1000px;
  right: 350px;
  width: 1200px;
  height: 960px;
  background: #554B8C;
  border-style: solid;
  border-color: #FF841C;
  position: absolute;

}
.aboutsole
{
  position: relative;
  top: -1720px;
  right: 200px;
  transform: scale(0.9);
  z-index: 1000;
}
.obj1
{
  position: relative;
  top: -2045px;
  right: -1330px;
  z-index: 1000;
  transform: scale(1);
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}
.obj2
{
  position: relative;
  top: -1965px;
  right: -1200px;
  z-index: 1000;
  transform: scale(1);
}
.me
{
  position: absolute;
  top: 600px;
  right: 770px;
  transform: scale(1.4);
}
.cadre
{
  top: 1820px;
  left: 450px;
  position: absolute;
  transform: scale(0.7);
}
.hitportfo
{
  top: 260px;
  right: 0px;
  position: absolute;
  transform: scale(0.8);
  z-index: 1000;
}
.hithome
{
  top: 200px;
  right: 900px;
  position: absolute;
  transform: scale(0.8);
  z-index: 1000;
}
