*
{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.scene
{
weight: 100vw;
height: 300vh;
background: rgb(36,86,155);
background: linear-gradient(182deg, rgba(36,86,155,1) 3%, rgba(159,78,145,1) 5%, rgba(255,132,28,1) 5%, rgba(255,132,28,1) 22%, rgba(16,24,46,1) 56%);
overflow: hidden;
}
.home
{
  position: absolute;
  top: 20px;
  right: -50px;
  transform: scale(0.48);
  z-index: inherit;
}
.aboutme
{
  position: absolute;
  top: 110px;
  right: 0px;
  opacity: 0;
  transform: scale(0.5);
  z-index: inherit;
}
.portfo
{
  position: absolute;
  top: 30px;
  right: -125px;
  transform: scale(0.48);
  z-index: inherit;
}
.box
{
  top: 120px;
  right: 50px;
  width: 120%;
  height: 1910px;
  background: #10182e;
  position: relative;

}
h1
{
  text-align: center;
  color: #FF841C;
  padding: 1em;
  font-family: 'monaco', monospace;
  font-size: 12pt;
  text-decoration:underline;
}
h2
{
  text-align: center;
  color: #FF841C;
  padding: 1em;
  font-family: 'monaco', monospace;
  font-size: 12pt;
  text-decoration:underline;
}
h3
{
  text-align: center;
  color: #FF841C;
  padding: 1em;
  font-family: 'monaco', monospace;
  font-size: 12pt;
  text-decoration:underline;
}
h4
{
  top: 510px;
  right: 80px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 13pt
}
p
{
padding: 1em;
color: white;
font-family: 'monaco', monospace;
font-size: 11pt;
}
ul{
  padding: 1em;
  text-align: center;
  list-style: inside;
}
li
{

  padding: 1em;
  color: white;
  font-family: 'monaco', monospace;
  font-size: 11pt;
}
div
{
  padding: 1em;
  line-height: 1.2;

}
.box2
{
  top: 560px;
  right: 5px;
  width: 400px;
  height: 1175px;
  background: #554B8C;
  border-style: solid;
  border-color: #FF841C;
  position: absolute;

}
.aboutsole
{
  position: relative;
  top: -1980px;
  right: 960px;
  transform: scale(0.35);
  z-index: 1000;
}
.obj1
{
  position: relative;
  top: -2254px;
  right: -702px;
  z-index: 1000;
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
from {
 width: 110px; height: 110px; transform: rotate(0deg);
}
to {
  width: 110px; height: 110px; transform: rotate(359deg);
}
}
.obj2
{
  position: relative;
  top: -2175px;
  right: -609px;
  z-index: 1000;
  transform: scale(0.5);
}
.me
{
  position: absolute;
  top: 190px;
  right: 55px;
  transform: scale(0.9);
}
.cadre
{
  top: 1450px;
  right: -295px;
  position: absolute;
  transform: scale(0.4);
}
.hitportfo
{
  top: 40px;
  right: -144px;
  position: absolute;
  transform: scale(0.42);
  z-index: 1000;
}
.hithome
{
  top: 30px;
  right: 70px;
  position: absolute;
  transform: scale(0.4);
  z-index: 1000;
}
