body
{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif
}
.scene
{
  weight: 98.88vw;
  height: 27vh;
  background: rgb(36,86,155);
  background: linear-gradient(182deg, rgba(36,86,155,1) 10%, rgba(159,78,145,1) 47%, rgba(255,132,28,1) 50%, rgba(255,132,28,1) 49%, rgba(16,24,46,1) 55%);
  overflow: hidden;
}
.home
{
  position: absolute;
  top: -15px;
  right: -60px;
  transform: scale(0.35);
  z-index: 0;
}
.aboutme
{
  position: absolute;
  top: 8px;
  right: -205px;
  transform: scale(0.35);
  z-index: inherit;
}
.portfo
{
  position: absolute;
  top: 95px;
  right: -120px;
  opacity: 0;
  transform: scale(0.5);
  z-index: 0;
}

.aboutsole
{
  position: relative;
  top: -70px;
  right: 950px;
  transform: scale(0.3);
  z-index: 100;
}
h3
{
  top: 125px;
  right: 210px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 8pt;
  font-family: 'monaco', monospace;
}
.obj1
{
  position: relative;
  top: -433px;
  right: -314px;
  z-index: 1000;
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
from {
  width: 70px; height: 70px; transform: rotate(0deg);
}
to {
  width: 70px; height: 70px; transform: rotate(359deg);
}
}
.obj2
{
  position: relative;
  top: -350px;
  right: -243px;
  z-index: 1000;
  transform: scale(0.3);
}
.container
{
  width: 100%;
  height: 100%;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  display: flex;
  scroll-behavior: smooth;
  background-color: #10182e;
    }
    section
    {
      flex: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 230vh;
      scroll-snap-align: start;
      scroll-margin-left: 10px;
      color: white;
    }
    :nth-of-type(1)
    {
      /*background-color: rgb(28,28,28);*/

    }
    :nth-of-type(2)
    {
      /* background-color: rgb(38,38,38);*/

    }
    :nth-of-type(3)
    {
      color: black;
    }
    :nth-of-type(4)
    {
      color: #86CB9F;
    }
.illus
{
      position: relative;
      left: -5%;
      top: -20px;
      transform: scale(0.8);
    }
.vids
{
       position: relative;
       left: -5%;
       top: -20px;
       transform: scale(0.8);
}
.prog
{
       position: relative;
       left: -5%;
       top: -20px;
       transform: scale(0.8);
}
.td
{
       position: relative;
       left: -5%;
       top: -20px;
       transform: scale(0.8);
}
.box
{
  position: relative;
  top: -535px;
  right: -120px;
  height: 170px;
  min-width: 400px;
  /* background: black;*/

}
h2
{
  text-align: center;
}
.illuslogo
{
  position: relative;
  top: -745px;
  right: -530px;
  transform: scale(0.6);
}
#featured
{
  position: relative;
  top: -300px;
  right: 270px;
  max-width: 400px;
  max-height: 230px;
  object-fit: cover;
  cursor: pointer;
  /*border: 2px solid black;*/
}
.thumbnail
{
  position: relative;
  object-fit: cover;
  max-width: 180px;
  max-height: 80px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid #FF841C;
}
.thumbnail:hover
{
  opacity:1;
}
#slide-wrapper
{
  position: relative;
  top: -100px;
  right: 600px;
  max-width: 300px;
  display: flex;
  min-height: 100px;
  align-items: center;
}
#slider
{
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.arrow
{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}
.arrow:hover
{
  opacity: .5;
  width: 35px;
  height: 35px;

}
.boxv1
{
  position: relative;
  top: -348px;
  right: 410px;
  height: 120px;
  min-width: 350px;
  background: #C880B6;
  font-size: 11pt;
  padding: 1em;
}
.boxv2
{
  position: relative;
  top: 10px;
  right: 790px;
  height: 120px;
  min-width: 350px;
  background: #C880B6;
  font-size: 11pt;
  padding: 1em;
}
.boxv3
{
  position: relative;
  top: 360px;
  right: 1170px;
  height: 100px;
  min-width: 350px;
  background: #C880B6;
  font-size: 11pt;
  padding: 1em;
}
.boxv4
{
  position: relative;
  top: 700px;
  right: 1550px;
  height: 100px;
  min-width: 350px;
  font-size: 11pt;
  background: #C880B6;
  padding: 1em;
}
.video1
{
  position: relative;
  top: -530px;
  right: -1900px;
  border: 3px solid #87C540;
  transform: scale(0.6);
}
.video2
{
  position: relative;
  top: -168px;
  right: -1295px;
  border: 3px solid #87C540;
  transform: scale(0.6);
}
.video3
{
  position: relative;
  top: 190px;
  right: -685px;
  border: 3px solid #87C540;
  transform: scale(0.6);
}
.video4
{
  position: relative;
  top: 530px;
  right: -80px;
  border: 3px solid #87C540;
  transform: scale(0.6);
}
.videologo
{
  position: relative;
  top: -740px;
  right: 1975px;
  transform: scale(0.6);
}
a[href="p5code/sketch8/index.html"]
{
  position: relative;
  top: -215px;
  left: -1950px;
  min-width: 100px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/sketch8/sketch.js"]
{
  position: relative;
  top: -215px;
  left: -1930px;
  min-width: 150px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/p3/index.html"]
{
  position: relative;
  top: 275px;
  left: -2210px;
  min-width: 100px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/p3/sketch.js"]
{
  position: relative;
  top: 275px;
  left: -2200px;
  min-width: 150px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/sketch9/index.html"]
{
  position: relative;
  top: 737px;
  left: -2530px;
  min-width: 100px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/sketch9/sketch.js"]
{
  position: relative;
  top: 737px;
  left: -2540px;
  min-width: 150px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/sketch9/blob.json"]
{
  position: relative;
  top: 737px;
  left: -2540px;
  min-width: 100px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
.pro1
{
  position: relative;
  top: -475px;
  right: -1046px;
  transform: scale(0.35);
}
.pro2
{
  position: relative;
  top: -30px;
  right: 440px;
  transform: scale(0.3);
}
.pro3
{
  position: relative;
  top: 445px;
  right: 1400px;
  transform: scale(0.38);
}
.boxjs1
{
  position: relative;
  top: -275px;
  right: -2512px;
  height: 130px;
  min-width: 350px;
  background: #FFE500;
  font-size: 11pt;
  padding: 1em;
  border: 4px solid #85C1E9;
}
.boxjs2
{
  position: relative;
  top: 215px;
  right: -2125px;
  height: 130px;
  min-width: 350px;
  background: #FFE500;
  font-size: 11pt;
  padding: 1em;
  border: 4px solid #85C1E9;
}
.boxjs3
{
  position: relative;
  top: 675px;
  right: -1738px;
  height: 130px;
  min-width: 350px;
  background: #FFE500;
  font-size: 11pt;
  padding: 1em;
  border: 4px solid #85C1E9;
}
.jslogo
{
  position: relative;
  top: -730px;
  right: -320px;
  transform: scale(0.6);
}
#featured2
{
  position: relative;
  top: -280px;
  right: 260px;
  max-width: 400px;
  max-height: 230px;
  object-fit: cover;
  cursor: pointer;
  /*border: 2px solid black;*/
}
.thumbnail2
{
  position: relative;
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid #86CB9F;
}
.thumbnail2:hover
{
  opacity:1;
}
#slide-wrapper2
{
  position: relative;
  top: -50px;
  right: 620px;
  max-width: 300px;
  display: flex;
  min-height: 100px;
  align-items: center;
}
#slider2
{
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.arrow2
{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}
.arrow2:hover
{
  opacity: .5;
  width: 35px;
  height: 35px;

}
.tdlogo
{
  position: relative;
  top: -740px;
  right: -545px;
  transform: scale(0.6);
}
.box3d1
{
  position: relative;
  top: -340px;
  right: -150px;
  height: 520px;
  min-width: 380px;
  background: #10182e;
  font-size: 11pt;
  padding: 1em;
  line-height: 1.5;
  font-family: 'monaco', monospace;
}
.navbar
{
  position: -webkit-sticky;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  background: #554B8C;
}
.navbar ul
{
  display: block;
  width: 370px;
  height: 50px;
  justify-content: center;
}
.hithome
{
  top: 0px;
  right: 60px;
  position: absolute;
  transform: scale(0.4);
  z-index: 1000;
}
.hitabout
{
  top: 10px;
  right: -145px;
  position: absolute;
  transform: scale(0.40);
  z-index: 1000;
}
