body
{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif

}
.scene
{
  weight: 98.88vw;
  height: 60vh;
  background: rgb(36,86,155);
 background: linear-gradient(182deg, rgba(36,86,155,1) 18%, rgba(159,78,145,1) 29%, rgba(255,132,28,1) 35%, rgba(255,132,28,1) 38%, rgba(16,24,46,1) 41%);
  background-attachment: fixed;
  overflow: hidden;
}
.home
{
  position: absolute;
  top: 175px;
  right: 920px;
  z-index: 0;
}
.aboutme
{
  position: absolute;
  top: 200px;
  right: 350px;
  z-index: inherit;
}
.portfo
{
  position: absolute;
  top: 240px;
  right: 0px;
  z-index: 0;
}

.aboutsole
{
  position: relative;
  top: 210px;
  right:  130px;
  transform: scale(0.9);
  z-index: 100;
}
h3
{
  top: 450px;
  right: 1400px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 14pt;
  font-family: 'monaco', monospace;
}
.obj1
{
  position: relative;
  top: -109px;
  right: -1404px;
  z-index: 1000;
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}
.obj2
{
  position: relative;
  top: -30px;
  right: -1277px;
  z-index: 1000;
  transform: scale(0.9);
}
.container
{
  width: 100%;
  height: 100%;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  display: flex;
  scroll-behavior: smooth;
  background-color: #10182e;
    }
    section
    {
      flex: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 130vh;
      scroll-snap-align: start;
      scroll-margin-left: 50px;
      color: white;
    }
    :nth-of-type(1)
    {
      /*background-color: rgb(28,28,28);*/

    }
    :nth-of-type(2)
    {
      /* background-color: rgb(38,38,38);*/

    }
    :nth-of-type(3)
    {
      color: black;
    }
    :nth-of-type(4)
    {
      color: #86CB9F;
    }
.illus
{
      position: relative;
      left: -25%;
      top: 35%;
    }
.illus:hover
{
  border-width: thick;
  border-style: solid;
  border-radius: 50px;
  border-color: #FF841C;
}
.vids
{
       position: relative;
       left: -25%;
       top: 15%;
}
.vids:hover
{
  border-width: thick;
  border-style: solid;
  border-radius: 50px;
  border-color: #FF841C;
}
.prog
{
       position: relative;
       left: -25%;
       top: -5%;
}
.prog:hover
{
  border-width: thick;
  border-style: solid;
  border-radius: 50px;
  border-color: #FF841C;
}
.td
{
       position: relative;
       left: -25%;
       top: -25%;
}
.td:hover
{
  border-width: thick;
  border-style: solid;
  border-radius: 50px;
  border-color: #FF841C;
}
.box
{
  position: relative;
  top: -300px;
  right: -550px;
  height: 170px;
  min-width: 900px;
  /* background: black;*/

}
h2
{
  text-align: center;
}
.illuslogo
{
  position: relative;
  top: -520px;
  right: -1250px;
}
#featured
{
  position: relative;
  top: 90px;
  right: 400px;
  max-width: 1000px;
  max-height: 700px;
  object-fit: cover;
  cursor: pointer;
  /*border: 2px solid black;*/
}
.thumbnail
{
  position: relative;
  object-fit: cover;
  max-width: 180px;
  max-height: 80px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid #FF841C;
}
.thumbnail:hover
{
  opacity:1;
}
#slide-wrapper
{
  position: relative;
  top: 480px;
  right: 1160px;
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}
#slider
{
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.arrow
{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}
.arrow:hover
{
  opacity: .5;
  width: 35px;
  height: 35px;

}
.boxv1
{
  position: relative;
  top: -270px;
  right: -650px;
  height: 150px;
  min-width: 600px;
  background: #C880B6;
  padding: 1em;
}
.boxv2
{
  position: relative;
  top: -25px;
  right: -20px;
  height: 150px;
  min-width: 600px;
  background: #C880B6;
  padding: 1em;
}
.boxv3
{
  position: relative;
  top: 230px;
  right: 610px;
  height: 150px;
  min-width: 600px;
  background: #C880B6;
  padding: 1em;
}
.boxv4
{
  position: relative;
  top: 480px;
  right: 1245px;
  height: 150px;
  min-width: 600px;
  background: #C880B6;
  padding: 1em;
}
.video1
{
  position: relative;
  top: -270px;
  right: -1900px;
  border: 3px solid #87C540;
  transform: scale(0.7);
}
.video2
{
  position: relative;
  top: -20px;
  right: -1445px;
  border: 3px solid #87C540;
  transform: scale(0.7);
}
.video3
{
  position: relative;
  top: 230px;
  right: -990px;
  border: 3px solid #87C540;
  transform: scale(0.7);
}
.video4
{
  position: relative;
  top: 480px;
  right: -535px;
  border: 3px solid #87C540;
  transform: scale(0.7);
}
.videologo
{
  position: relative;
  top: -520px;
  right: 2000px;
}
a[href="p5code/sketch8/index.html"]
{
  position: relative;
  top: -110px;
  left: -1950px;
  min-width: 100px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/sketch8/sketch.js"]
{
  position: relative;
  top: -110px;
  left: -1950px;
  min-width: 150px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/p3/index.html"]
{
  position: relative;
  top: 220px;
  left: -2210px;
  min-width: 100px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/p3/sketch.js"]
{
  position: relative;
  top: 220px;
  left: -2210px;
  min-width: 150px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/sketch9/index.html"]
{
  position: relative;
  top: 540px;
  left: -2470px;
  min-width: 100px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/sketch9/sketch.js"]
{
  position: relative;
  top: 540px;
  left: -2470px;
  min-width: 150px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
a[href="p5code/sketch9/blob.json"]
{
  position: relative;
  top: 540px;
  left: -2440px;
  min-width: 100px;
  background: #FFE500;
  border: 3px solid #FFE500;
  text-decoration-color: #85C1E9;
  color: red;
}
.pro1
{
  position: relative;
  top: -180px;
  right: -550px;
  transform: scale(0.45);
}
.pro2
{
  position: relative;
  top: 135px;
  right: 940px;
  transform: scale(0.3);
}
.pro3
{
  position: relative;
  top: 460px;
  right: 1897px;
  transform: scale(0.4);
}
.boxjs1
{
  position: relative;
  top: -180px;
  right: -3000px;
  height: 160px;
  min-width: 500px;
  background: #FFE500;
  padding: 1em;
  border: 4px solid #85C1E9;
}
.boxjs2
{
  position: relative;
  top: 150px;
  right: -2460px;
  height: 160px;
  min-width: 500px;
  background: #FFE500;
  padding: 1em;
  border: 4px solid #85C1E9;
}
.boxjs3
{
  position: relative;
  top: 470px;
  right: -1920px;
  height: 160px;
  min-width: 500px;
  background: #FFE500;
  padding: 1em;
  border: 4px solid #85C1E9;
}
.jslogo
{
  position: relative;
  top: -490px;
  right: -100px;
}
#featured2
{
  position: relative;
  top: -70px;
  right: 420px;
  max-width: 950px;
  max-height: 650px;
  object-fit: cover;
  cursor: pointer;
  /*border: 2px solid black;*/
}
.thumbnail2
{
  position: relative;
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid #86CB9F;
}
.thumbnail2:hover
{
  opacity:1;
}
#slide-wrapper2
{
  position: relative;
  top: 320px;
  right: 1100px;
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}
#slider2
{
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.arrow2
{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}
.arrow2:hover
{
  opacity: .5;
  width: 35px;
  height: 35px;

}
.tdlogo
{
  position: relative;
  top: -510px;
  right: -920px;
}
.box3d1
{
  position: relative;
  top: 0px;
  right: -1000px;
  height: 520px;
  min-width: 400px;
  background: #10182e;
  font-size: 14pt;
  padding: 1em;
  line-height: 1.5;
  font-family: 'monaco', monospace;
}
.navbar
{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background: #554B8C;
}
.navbar ul
{
  display: inline-grid;
  justify-content: center;
}
.hithome
{
  top: 150px;
  right: 1000px;
  position: absolute;
  transform: scale(0.9);
  z-index: 1000;
}
.hitabout
{
  top: 175px;
  right: 460px;
  position: absolute;
  transform: scale(0.9);
  z-index: 1000;
}
@media all and (min-width: 1940px) {
  .home
  {
    position: absolute;
    top: 285px;
    right: 1120px;
    transform: scale(1.35);
    z-index: 0;
  }
  .aboutme
  {
    position: absolute;
    top: 320px;
    right: 530px;
    transform: scale(1.35);
    z-index: inherit;
  }
  .portfo
  {
    position: absolute;
    top: 350px;
    right: 85px;
    transform: scale(1.35);
    z-index: 0;
  }

  .aboutsole
  {
    position: relative;
    top: 355px;
    right: 20px;
    transform: scale(1.3);
    z-index: 100;
  }
  h3
  {
    top: 670px;
    right: 1800px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 18pt;
    font-family: 'monaco', monospace;
  }
  .obj1
  {
    position: absolute;
    top: 430px;
    right: 622px;
    z-index: 1000;
    animation: rotation 6s infinite linear;
  }
  @keyframes rotation {
  from {
  width: 220px; height: 220px; transform: rotate(0deg);
  }
  to {
    width: 220px; height: 220px; transform: rotate(359deg);
  }
  }
  .obj2
  {
    position: absolute;
    top: 540px;
    right: 715px;
    z-index: 1000;
    transform: scale(1.3);
  }
  .container
  {
    width: 100%;
    height: 100%;
    scroll-snap-type: x proximity;
    overflow-x: scroll;
    display: flex;
    scroll-behavior: smooth;
    background-color: #10182e;
      }
      section
      {
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 130vh;
        scroll-snap-align: start;
        scroll-margin-left: 50px;
        color: white;
      }
      :nth-of-type(1)
      {
        /*background-color: rgb(28,28,28);*/

      }
      :nth-of-type(2)
      {
        /* background-color: rgb(38,38,38);*/

      }
      :nth-of-type(3)
      {
        color: black;
      }
      :nth-of-type(4)
      {
        color: #86CB9F;
      }
  .illus
  {
        position: relative;
        left: -25%;
        top: 35%;
        transform: scale(1.3);
      }
  .illus:hover
  {
    border-width: thick;
    border-style: solid;
    border-radius: 50px;
    border-color: #FF841C;
  }
  .vids
  {
         position: relative;
         left: -25%;
         top: 15%;
         transform: scale(1.3);
  }
  .vids:hover
  {
    border-width: thick;
    border-style: solid;
    border-radius: 50px;
    border-color: #FF841C;
  }
  .prog
  {
    position: relative;
    left: -25%;
    top: -5%;
    transform: scale(1.3);
  }
  .prog:hover
  {
    border-width: thick;
    border-style: solid;
    border-radius: 50px;
    border-color: #FF841C;
  }
  .td
  {
    position: relative;
    left: -25%;
    top: -25%;
    transform: scale(1.3);
  }
  .td:hover
  {
    border-width: thick;
    border-style: solid;
    border-radius: 50px;
    border-color: #FF841C;
  }
  .box
  {
    position: relative;
    top: -510px;
    right: -730px;
    height: 170px;
    min-width: 1200px;
    /* background: black;*/

  }
  h2
  {
    text-align: center;
    font-size: 22pt;
  }
  p{
    font-size: 20pt;
  }
  .illuslogo
  {
    position: relative;
    top: -735px;
    right: -1550px;
    transform: scale(1.2);
  }
  #featured
  {
    position: relative;
    top: 50px;
    right: 530px;
    max-width: 1300px;
    max-height: 900px;
    object-fit: cover;
    cursor: pointer;
    /*border: 2px solid black;*/
  }
  .thumbnail
  {
    position: relative;
    object-fit: cover;
    max-width: 210px;
    max-height: 110px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid #FF841C;
  }
  .thumbnail:hover
  {
    opacity:1;
  }
  #slide-wrapper
  {
    position: relative;
    top: 600px;
    right: 1450px;
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
  }
  #slider
  {
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
  .arrow
  {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    transform: scale(1.2);
  }
  .arrow:hover
  {
    opacity: .5;
    width: 35px;
    height: 35px;

  }
  .boxv1
  {
    position: relative;
    top: -390px;
    right: -1350px;
    height: 170px;
    min-width: 950px;
    background: #C880B6;
    padding: 1em;
  }
  .boxv2
  {
    position: relative;
    top: -50px;
    right: -370px;
    height: 170px;
    min-width: 950px;
    background: #C880B6;
    padding: 1em;
  }
  .boxv3
  {
    position: relative;
    top: 300px;
    right: 610px;
    height: 170px;
    min-width: 950px;
    background: #C880B6;
    padding: 1em;
  }
  .boxv4
  {
    position: relative;
    top: 650px;
    right: 1600px;
    height: 170px;
    min-width: 950px;
    background: #C880B6;
    padding: 1em;
  }
  .video1
  {
    position: relative;
    top: -400px;
    right: -2500px;
    border: 3px solid #87C540;
    transform: scale(1);
  }
  .video2
  {
    position: relative;
    top: -50px;
    right: -2045px;
    border: 3px solid #87C540;
    transform: scale(1);
  }
  .video3
  {
    position: relative;
    top: 300px;
    right: -1590px;
    border: 3px solid #87C540;
    transform: scale(1);
  }
  .video4
  {
    position: relative;
    top: 650px;
    right: -1130px;
    border: 3px solid #87C540;
    transform: scale(1);
  }
  .videologo
  {
    position: relative;
    top: -720px;
    right: 2800px;
    transform: scale(1.3);
  }
  a[href="p5code/sketch8/index.html"]
  {
    position: relative;
    top: -240px;
    left: -2250px;
    min-width: 100px;
    background: #FFE500;
    border: 3px solid #FFE500;
    text-decoration-color: #85C1E9;
    color: red;
    font-size: 20pt;
  }
  a[href="p5code/sketch8/sketch.js"]
  {
    position: relative;
    top: -240px;
    left: -2200px;
    min-width: 200px;
    background: #FFE500;
    border: 3px solid #FFE500;
    text-decoration-color: #85C1E9;
    color: red;
    font-size: 20pt;
  }
  a[href="p5code/p3/index.html"]
  {
    position: relative;
    top: 255px;
    left: -2560px;
    min-width: 100px;
    background: #FFE500;
    border: 3px solid #FFE500;
    text-decoration-color: #85C1E9;
    color: red;
    font-size: 20pt;
  }
  a[href="p5code/p3/sketch.js"]
  {
    position: relative;
    top: 255px;
    left: -2510px;
    min-width: 200px;
    background: #FFE500;
    border: 3px solid #FFE500;
    text-decoration-color: #85C1E9;
    color: red;
    font-size: 20pt;
  }
  a[href="p5code/sketch9/index.html"]
  {
    position: relative;
    top: 745px;
    left: -2870px;
    min-width: 100px;
    background: #FFE500;
    border: 3px solid #FFE500;
    text-decoration-color: #85C1E9;
    color: red;
    font-size: 20pt;
  }
  a[href="p5code/sketch9/sketch.js"]
  {
    position: relative;
    top: 745px;
    left: -2820px;
    min-width: 200px;
    background: #FFE500;
    border: 3px solid #FFE500;
    text-decoration-color: #85C1E9;
    color: red;
    font-size: 20pt;
  }
  a[href="p5code/sketch9/blob.json"]
  {
    position: relative;
    top: 745px;
    left: -2700px;
    min-width: 150px;
    background: #FFE500;
    border: 3px solid #FFE500;
    text-decoration-color: #85C1E9;
    color: red;
    font-size: 20pt;
  }
  .pro1
  {
    position: relative;
    top: -300px;
    right: -220px;
    transform: scale(0.55);
  }
  .pro2
  {
    position: relative;
    top: 150px;
    right: 1260px;
    transform: scale(0.5);
  }
  .pro3
  {
    position: relative;
    top: 600px;
    right: 2220px;
    transform: scale(0.5);
  }
  .boxjs1
  {
    position: relative;
    top: -310px;
    right: -3300px;
    height: 160px;
    min-width: 700px;
    background: #FFE500;
    padding: 1em;
    border: 4px solid #85C1E9;
  }
  .boxjs2
  {
    position: relative;
    top: 180px;
    right: -2560px;
    height: 160px;
    min-width: 700px;
    background: #FFE500;
    padding: 1em;
    border: 4px solid #85C1E9;
  }
  .boxjs3
  {
    position: relative;
    top: 670px;
    right: -1820px;
    height: 160px;
    min-width: 700px;
    background: #FFE500;
    padding: 1em;
    border: 4px solid #85C1E9;
  }
  .jslogo
  {
    position: relative;
    top: -690px;
    right: 100px;
    transform: scale(1.3);
  }
  #featured2
  {
    position: relative;
    top: 60px;
    right: 420px;
    max-width: 1100px;
    max-height: 750px;
    object-fit: cover;
    cursor: pointer;
    /*border: 2px solid black;*/
  }
  .thumbnail2
  {
    position: relative;
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid #86CB9F;
  }
  .thumbnail2:hover
  {
    opacity:1;
  }
  #slide-wrapper2
  {
    position: relative;
    top: 460px;
    right: 1100px;
    max-width: 500px;
    display: flex;
    min-height: 150px;
    align-items: center;
  }
  #slider2
  {
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
  .arrow2
  {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    transform: scale(1.2);
  }
  .arrow2:hover
  {
    opacity: .5;
    width: 35px;
    height: 35px;

  }
  .tdlogo
  {
    position: relative;
    top: -720px;
    right: -1080px;
    transform: scale(1.3);
  }
  .box3d1
  {
    position: relative;
    top: -320px;
    right: -500px;
    height: 520px;
    min-width: 800px;
    background: #10182e;
    font-size: 20pt;
    padding: 1em;
    line-height: 1.5;
    font-family: 'monaco', monospace;
  }
  .navbar
  {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    background: #554B8C;
  }
  .navbar ul
  {
    display: inline-grid;
    justify-content: center;
  }
  .hithome
  {
    top: 220px;
    right: 1250px;
    position: absolute;
    transform: scale(1.1);
    z-index: 1000;
  }
  .hitabout
  {
    top: 280px;
    right: 570px;
    position: absolute;
    transform: scale(1.1);
    z-index: 1000;
  }
}
