*
{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:auto;
}
.scene
{
  height: 100vh;
  weight: 100vw;
  background: rgb(36,86,155);
background: linear-gradient(182deg, rgba(36,86,155,1) 20%, rgba(159,78,145,1) 30%, rgba(255,132,28,1) 32%, rgba(255,132,28,1) 37%, rgba(16,24,46,1) 46%);
overflow: auto;
}
.musicOff
{
  top: -30px;
  right: 50px;
  position: absolute;
  z-index: 0;
  transform: scale(0.4);
  animation: opacity 10s infinite;
}
@keyframes opacity {
  0% {opacity: 1;}
  75% {opacity: 0.7;}
  100% {opacity: 1;}
}
.musicOff:hover
{
transform: scale(0.6);
}
.home
{
  position: absolute;
  top: 90px;
  right: 230px;
  z-index: 1;
  opacity: 0;
  transform: scale(0.5);
}
.aboutme
{
  position: absolute;
  top: 127px;
  right: -45px;
  z-index: 2;
  transform: scale(0.45);
}
.portfo
{
  position: absolute;
  top: 135px;
  right: -134px;
  z-index: 3;
  transform: scale(0.45);
}
.hitabout
{
  position: absolute;
  top: 146px;
  right: -148px;
  z-index: 1000;
  transform: scale(0.39);
}
.hitportfo
{
  position: absolute;
  top: 130px;
  right: 50px;
  z-index: 1000;
  transform: scale(0.39);
}
.soledadup
{
  position: absolute;
  top: 70px;
  right: -656px;
  transform: scale(0.4);
  z-index: 4;
}
.soledaddw
{
  position: absolute;
  top: 237px;
  right: -675px;
  transform: scale(0.4);
  z-index: 3;
}
.obj1
{
  position: absolute;
  top: 217px;
  right: 166px;
  z-index: 5;
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
0% { width: 90px; height: 90px; transform: rotate(0deg);
}
 100% { width: 90px; height: 90px; transform: rotate(359deg);}
}
.obj2
{
  position: absolute;
  top: 193px;
  right: 185px;
  z-index: 6;
  transform: scale(0.38);
}
.light1
{
  top: 219px;
  right: 173px;
  position: absolute;
  transform: scale(1);
  opacity: 1;
  z-index: 7;
 animation: mylight 7s ease-in-out 0s infinite;

}
@keyframes mylight {
0% { opacity: 0;}
50%{ opacity: 0;}
75%{ opacity: 1;}
100%{opacity: 0.3;}
}
.plane
{
  top: 30px;
  right: 380px;
  position: absolute;
  transform: scale(0.5);
  z-index: 4;
  opacity: 0;
  animation: fly 85s ease-in-out 0s;
}
@keyframes fly {
  0% {right: 380px; opacity: 1;}
  99%{right: 5px; transform: scale(0.3); opacity: 0.7;}
  100%{right: 0px; transform: scale(); opacity: 0;}
}
.plight
{
  top: -11px;
  right: 379px;
  position: absolute;
  transform: scale(0.5);
  opacity: 0;
  z-index: 9;
  animation: fly2 84s ease-in-out 0s, mylight 1.5s infinite; */
}
@keyframes fly2 {
  0% {right: 379px; opacity: 1;}
  100% {right: 5px; transform: scale(0.2); opacity: 0;}
}
.plight2
{
  top: -3px;
  right: 356px;
  position: absolute;
  transform: scale(0.6);
  opacity: 0;
  z-index: 10;
  animation: fly3 83.4s ease-in-out 0s, mylight 2s infinite; */
}
@keyframes fly3 {
  0% {right: 356px; opacity: 1;}
  100% {right: 1px; transform: scale(0.2);}
}
.smoke
{
  top: 29px;
  right: 460px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  height: 15px;
  width: 45px;
  animation: smoke1 110s ease-in-out 1.1s;
}
@keyframes smoke1 {
  0% {opacity: 1; width: 45px; right: 460px;}
  77% {width: 460px; right:0px; opacity: 1}
  100% {width: 460px; right:0px; opacity: 0.4;}
}
h1
{
  top: 500px;
  right: 55px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 13pt
}
h2
{
  top: 610px;
  right: 125px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 12pt
}
h3
{
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 10pt
}
p
{
  top: 580px;
  right: 90px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 12pt
}
