*
{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scene
{
  height: 100vh;
  weight: 100vw;
  background: rgb(36,86,155);
  background: linear-gradient(182deg, rgba(36,86,155,1) 18%, rgba(159,78,145,1) 29%, rgba(255,132,28,1) 35%, rgba(255,132,28,1) 38%, rgba(16,24,46,1) 41%);
  overflow: hidden;
}
.musicOff
{
  top: 180px;
  right: 1640px;
  position: absolute;
  z-index: 0;
  transform: scale(1.8);
  animation: opacity 10s infinite;
}
@keyframes opacity {
  0% {opacity: 1;}
  75% {opacity: 0.7;}
  100% {opacity: 1;}
}
.musicOff:hover
{
top: 30px;
}
.home
{
  position: absolute;
  top: 225px;
  right: 840px;
  z-index: 1;
}
.aboutme
{
  position: absolute;
  top: 245px;
  right: 350px;
  z-index: 2;
}
.portfo
{
  position: absolute;
  top: 276px;
  right: 0px;
  z-index: 3;
}
.hitabout
{
  position: absolute;
  top: 270px;
  right: -25px;
  z-index: 1000;
  transform: scale(0.7);
}
.hitportfo
{
  position: absolute;
  top: 240px;
  right: 485px;
  z-index: 1000;
  transform: scale(0.7);
}
.soledadup
{
  position: absolute;
  top: 250px;
  right: 0px;
  transform: scale(1);
  z-index: 4;
}
.soledaddw
{
  position: absolute;
  top: 630px;
  right: 0px;
  transform: scale(1);
  z-index: 3;
}
.obj1
{
  position: absolute;
  top: 351px;
  right: 433px;
  z-index: 5;
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
0% { transform: rotate(0deg);
}
 100% {transform: rotate(359deg);}
}
.obj2
{
  position: absolute;
  top: 415px;
  right: 502px;
  z-index: 6;
  transform: scale(1);
}
.light1
{
  top: 394px;
  right: 489px;
  position: absolute;
  transform: scale(1.5);
  opacity: 1;
  z-index: 7;
  animation: mylight 7s ease-in-out 0s infinite;

}
@keyframes mylight {
0% { opacity: 0;}
50%{ opacity: 0;}
75%{ opacity: 1;}
100%{opacity: 0.3;}
}
.plane
{
  top: 30px;
  right: 1880px;
  position: absolute;
  transform: scale(0.5);
  z-index: 4;
  opacity: 0;
  animation: fly 85s ease-in-out 0s;
}
@keyframes fly {
  0% {right: 1880px; opacity: 1;}
  99%{right: 5px; transform: scale(0.3); opacity: 0.7;}
  100%{right: 0px; transform: scale(); opacity: 0;}
}
.plight
{
  top: -11px;
  right: 1879px;
  position: absolute;
  transform: scale(0.5);
  opacity: 0;
  z-index: 9;
  animation: fly2 84s ease-in-out 0s, mylight 1.5s infinite; */
}
@keyframes fly2 {
  0% {right: 1879px; opacity: 1;}
  100% {right: 5px; transform: scale(0.2); opacity: 0;}
}
.plight2
{
  top: -3px;
  right: 1856px;
  position: absolute;
  transform: scale(0.6);
  opacity: 0;
  z-index: 10;
  animation: fly3 83.4s ease-in-out 0s, mylight 2s infinite; */
}
@keyframes fly3 {
  0% {right: 1856px; opacity: 1;}
  100% {right: 1px; transform: scale(0.2);}
}
.smoke
{
  top: 29px;
  right: 1920px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  height: 15px;
  width: 45px;
  animation: smoke1 110s ease-in-out 1.1s;
}
@keyframes smoke1 {
  0% {opacity: 1; width: 45px; right: 1920px;}
  77% {width: 1920px; right:0px; opacity: 1}
  100% {width: 1920px; right:0px; opacity: 0.4;}
}
h1
{
  top: 520px;
  right: 1620px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 13pt
}
h2
{
  top: 890px;
  right: 185px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 12pt
}
h3
{
  top: 0px;
  right: 10px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 10pt
}
p
{
  top: 870px;
  right: 150px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 12pt
}
