*
{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:auto;
}
/*-------------------------------------phone resolution----------------------------------------------------------*/
@media all and (min-width: 360px) {
  .scene
  {
    height: 100vh;
    weight: 100vw;
    background: rgb(36,86,155);
  background: linear-gradient(182deg, rgba(36,86,155,1) 20%, rgba(159,78,145,1) 30%, rgba(255,132,28,1) 32%, rgba(255,132,28,1) 37%, rgba(16,24,46,1) 46%);
  overflow: auto;
  }
  .musicOff
  {
    top: -30px;
    right: 200px;
    position: absolute;
    z-index: 0;
    transform: scale(0.4);
    animation: opacity 10s infinite;
  }
  @keyframes opacity {
    0% {opacity: 1;}
    75% {opacity: 0.7;}
    100% {opacity: 1;}
  }
  .musicOff:hover
  {
  transform: scale(0.6);
  }
  .home
  {
    position: absolute;
    top: 90px;
    right: 230px;
    z-index: 1;
    opacity: 0;
    transform: scale(0.5);
  }
  .aboutme
  {
    position: absolute;
    top: 127px;
    right: -30px;
    z-index: 2;
    transform: scale(0.5);
  }
  .portfo
  {
    position: absolute;
    top: 135px;
    right: -122px;
    z-index: 3;
    transform: scale(0.5);
  }
  .hitabout
  {
    position: absolute;
    top: 146px;
    right: -140px;
    z-index: 1000;
    transform: scale(0.39);
  }
  .hitportfo
  {
    position: absolute;
    top: 130px;
    right: 59px;
    z-index: 1000;
    transform: scale(0.39);
  }
  .soledadup
  {
    position: absolute;
    top: 70px;
    right: -656px;
    transform: scale(0.4);
    z-index: 4;
  }
  .soledaddw
  {
    position: absolute;
    top: 237px;
    right: -675px;
    transform: scale(0.4);
    z-index: 3;
  }
  .obj1
  {
    position: absolute;
    top: 217px;
    right: 166px;
    z-index: 5;
    animation: rotation 6s infinite linear;
  }
  @keyframes rotation {
  0% { width: 90px; height: 90px; transform: rotate(0deg);
  }
   100% { width: 90px; height: 90px; transform: rotate(359deg);}
  }
  .obj2
  {
    position: absolute;
    top: 193px;
    right: 185px;
    z-index: 6;
    transform: scale(0.38);
  }
  .light1
  {
    top: 219px;
    right: 173px;
    position: absolute;
    transform: scale(1);
    opacity: 1;
    z-index: 7;
   animation: mylight 7s ease-in-out 0s infinite;

  }
  @keyframes mylight {
  0% { opacity: 0;}
  50%{ opacity: 0;}
  75%{ opacity: 1;}
  100%{opacity: 0.3;}
  }
  .plane
  {
    top: 30px;
    right: 380px;
    position: absolute;
    transform: scale(0.5);
    z-index: 4;
    opacity: 0;
    animation: fly 85s ease-in-out 0s;
  }
  @keyframes fly {
    0% {right: 380px; opacity: 1;}
    99%{right: 5px; transform: scale(0.3); opacity: 0.7;}
    100%{right: 0px; transform: scale(); opacity: 0;}
  }
  .plight
  {
    top: -11px;
    right: 379px;
    position: absolute;
    transform: scale(0.5);
    opacity: 0;
    z-index: 9;
    animation: fly2 84s ease-in-out 0s, mylight 1.5s infinite; */
  }
  @keyframes fly2 {
    0% {right: 379px; opacity: 1;}
    100% {right: 5px; transform: scale(0.2); opacity: 0;}
  }
  .plight2
  {
    top: -3px;
    right: 356px;
    position: absolute;
    transform: scale(0.6);
    opacity: 0;
    z-index: 10;
    animation: fly3 83.4s ease-in-out 0s, mylight 2s infinite; */
  }
  @keyframes fly3 {
    0% {right: 356px; opacity: 1;}
    100% {right: 1px; transform: scale(0.2);}
  }
  .smoke
  {
    top: 29px;
    right: 460px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: 15px;
    width: 45px;
    animation: smoke1 110s ease-in-out 1.1s;
  }
  @keyframes smoke1 {
    0% {opacity: 1; width: 45px; right: 460px;}
    77% {width: 460px; right:0px; opacity: 1}
    100% {width: 460px; right:0px; opacity: 0.4;}
  }
  h1
  {
    top: 520px;
    right: 70px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 13pt
  }
  h2
  {
    top: 670px;
    right: 138px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 12pt
  }
  h3
  {
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 10pt
  }
  p
  {
    top: 635px;
    right: 105px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 12pt
  }
}
/*-------------------------------------Tablet resolution----------------------------------------------------------*/
@media all and (min-width: 1023px) {
  .scene
  {
    height: 100vh;
    weight: 100vw;
    background: rgb(36,86,155);
  background: linear-gradient(182deg, rgba(36,86,155,1) 20%, rgba(159,78,145,1) 30%, rgba(255,132,28,1) 32%, rgba(255,132,28,1) 37%, rgba(16,24,46,1) 46%);
  overflow: auto;
  }
  .musicOff
  {
    top: 60px;
    right: 790px;
    position: absolute;
    z-index: 0;
    transform: scale(1.3);
    animation: opacity 10s infinite;
  }
  @keyframes opacity {
    0% {opacity: 1;}
    75% {opacity: 0.7;}
    100% {opacity: 1;}
  }
  .musicOff:hover
  {
  top: 30px;
  }
  .home
  {
    position: absolute;
    top: 90px;
    right: 230px;
    z-index: 1;
    opacity: 1;
    transform: scale(0.5);
  }
  .aboutme
  {
    position: absolute;
    top: 120px;
    right: 50px;
    z-index: 2;
    transform: scale(0.6);
  }
  .portfo
  {
    position: absolute;
    top: 130px;
    right: -95px;
    z-index: 3;
    transform: scale(0.6);
  }
  .hitabout
  {
    position: absolute;
    top: 120px;
    right: -145px;
    z-index: 1000;
    transform: scale(0.4);
  }
  .hitportfo
  {
    position: absolute;
    top: 110px;
    right: 125px;
    z-index: 1000;
    transform: scale(0.4);
  }
  .soledadup
  {
    position: absolute;
    top: 70px;
    right: -437px;
    transform: scale(0.6);
    z-index: 4;
  }
  .soledaddw
  {
    position: absolute;
    top: 308px;
    right: -450px;
    transform: scale(0.6);
    z-index: 3;
  }
  .obj1
  {
    position: absolute;
    top: 216px;
    right: 260px;
    z-index: 5;
    animation: rotation 6s infinite linear;
  }
  @keyframes rotation {
  0% { width: 110px; height: 110px; transform: rotate(0deg);
  }
   100% { width: 110px; height: 110px; transform: rotate(359deg);}
  }
  .obj2
  {
    position: absolute;
    top: 212px;
    right: 290px;
    z-index: 6;
    transform: scale(0.5);
  }
  .light1
  {
    top: 226px;
    right: 278px;
    position: absolute;
    transform: scale(1);
    opacity: 1;
    z-index: 7;
   animation: mylight 7s ease-in-out 0s infinite;

  }
  @keyframes mylight {
  0% { opacity: 0;}
  50%{ opacity: 0;}
  75%{ opacity: 1;}
  100%{opacity: 0.3;}
  }
  .plane
  {
    top: 30px;
    right: 980px;
    position: absolute;
    transform: scale(0.5);
    z-index: 4;
    opacity: 0;
    animation: fly 85s ease-in-out 0s;
  }
  @keyframes fly {
    0% {right: 980px; opacity: 1;}
    99%{right: 5px; transform: scale(0.3); opacity: 0.7;}
    100%{right: 0px; transform: scale(); opacity: 0;}
  }
  .plight
  {
    top: -11px;
    right: 979px;
    position: absolute;
    transform: scale(0.5);
    opacity: 0;
    z-index: 9;
    animation: fly2 84s ease-in-out 0s, mylight 1.5s infinite; */
  }
  @keyframes fly2 {
    0% {right: 979px; opacity: 1;}
    100% {right: 5px; transform: scale(0.2); opacity: 0;}
  }
  .plight2
  {
    top: -3px;
    right: 956px;
    position: absolute;
    transform: scale(0.6);
    opacity: 0;
    z-index: 10;
    animation: fly3 83.4s ease-in-out 0s, mylight 2s infinite; */
  }
  @keyframes fly3 {
    0% {right: 956px; opacity: 1;}
    100% {right: 1px; transform: scale(0.2);}
  }
  .smoke
  {
    top: 29px;
    right: 1020px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: 15px;
    width: 45px;
    animation: smoke1 110s ease-in-out 1.1s;
  }
  @keyframes smoke1 {
    0% {opacity: 1; width: 45px; right: 1020px;}
    77% {width: 1020px; right:0px; opacity: 1}
    100% {width: 1020px; right:0px; opacity: 0.4;}
  }
  h1
  {
    top: 300px;
    right: 680px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 13pt
  }
  h2
  {
    top: 570px;
    right: 125px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 12pt
  }
  h3
  {
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 10pt
  }
  p
  {
    top: 535px;
    right: 100px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 12pt
  }
}
/*---------------------------------------- 1080 resolution----------------------------------------*/
@media all and (min-width: 1920px) {
.scene
{
  height: 100vh;
  weight: 100vw;
  background: rgb(36,86,155);
  background: linear-gradient(182deg, rgba(36,86,155,1) 18%, rgba(159,78,145,1) 29%, rgba(255,132,28,1) 35%, rgba(255,132,28,1) 38%, rgba(16,24,46,1) 41%);
  overflow: auto;
}
.musicOff
{
  top: 180px;
  right: 1640px;
  position: absolute;
  z-index: 0;
  transform: scale(1.8);
  animation: opacity 10s infinite;
}
@keyframes opacity {
  0% {opacity: 1;}
  75% {opacity: 0.7;}
  100% {opacity: 1;}
}
.musicOff:hover
{
top: 30px;
}
.home
{
  position: absolute;
  top: 225px;
  right: 840px;
  transform: scale(1);
  z-index: 1;
}
.aboutme
{
  position: absolute;
  top: 245px;
  right: 350px;
  transform: scale(1);
  z-index: 2;
}
.portfo
{
  position: absolute;
  top: 276px;
  right: 0px;
  transform: scale(1);
  z-index: 3;
}
.hitabout
{
  position: absolute;
  top: 270px;
  right: -25px;
  z-index: 1000;
  transform: scale(0.7);
}
.hitportfo
{
  position: absolute;
  top: 240px;
  right: 485px;
  z-index: 1000;
  transform: scale(0.7);
}
.soledadup
{
  position: absolute;
  top: 250px;
  right: 0px;
  transform: scale(1);
  z-index: 4;
}
.soledaddw
{
  position: absolute;
  top: 630px;
  right: 0px;
  transform: scale(1);
  z-index: 3;
}
.obj1
{
  position: absolute;
  top: 351px;
  right: 433px;
  z-index: 5;
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
0% { transform: rotate(0deg);
}
 100% {transform: rotate(359deg);}
}
.obj2
{
  position: absolute;
  top: 415px;
  right: 502px;
  z-index: 6;
  transform: scale(1);
}
.light1
{
  top: 394px;
  right: 489px;
  position: absolute;
  transform: scale(1.5);
  opacity: 1;
  z-index: 7;
  animation: mylight 7s ease-in-out 0s infinite;

}
@keyframes mylight {
0% { opacity: 0;}
50%{ opacity: 0;}
75%{ opacity: 1;}
100%{opacity: 0.3;}
}
.plane
{
  top: 30px;
  right: 1880px;
  position: absolute;
  transform: scale(0.5);
  z-index: 4;
  opacity: 0;
  animation: fly 85s ease-in-out 0s;
}
@keyframes fly {
  0% {right: 1880px; opacity: 1;}
  99%{right: 5px; transform: scale(0.3); opacity: 0.7;}
  100%{right: 0px; transform: scale(); opacity: 0;}
}
.plight
{
  top: -11px;
  right: 1879px;
  position: absolute;
  transform: scale(0.5);
  opacity: 0;
  z-index: 9;
  animation: fly2 84s ease-in-out 0s, mylight 1.5s infinite; */
}
@keyframes fly2 {
  0% {right: 1879px; opacity: 1;}
  100% {right: 5px; transform: scale(0.2); opacity: 0;}
}
.plight2
{
  top: -3px;
  right: 1856px;
  position: absolute;
  transform: scale(0.6);
  opacity: 0;
  z-index: 10;
  animation: fly3 83.4s ease-in-out 0s, mylight 2s infinite; */
}
@keyframes fly3 {
  0% {right: 1856px; opacity: 1;}
  100% {right: 1px; transform: scale(0.2);}
}
.smoke
{
  top: 29px;
  right: 1920px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  height: 15px;
  width: 45px;
  animation: smoke1 110s ease-in-out 1.1s;
}
@keyframes smoke1 {
  0% {opacity: 1; width: 45px; right: 1920px;}
  77% {width: 1920px; right:0px; opacity: 1}
  100% {width: 1920px; right:0px; opacity: 0.4;}
}
h1
{
  top: 520px;
  right: 1620px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 13pt
}
h2
{
  top: 890px;
  right: 185px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 12pt
}
h3
{
  top: 0px;
  right: 10px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 10pt
}
p
{
  top: 870px;
  right: 150px;
  position: absolute;
  z-index: 1000;
  color: white;
  font-size: 12pt
}
}
/*-------------------------------------2K resolutio----------------------------------------------------------------*/
@media all and (min-width: 2560px) {
  .scene
  {
    height: 100vh;
    weight: 100vw;
    background: rgb(36,86,155);
  background: linear-gradient(183deg, rgba(36,86,155,1) 22%, rgba(159,78,145,1) 33%, rgba(255,132,28,1) 40%, rgba(255,132,28,1) 45%, rgba(16,24,46,1) 50%);
    overflow: auto;
  }
  .musicOff
  {
    top: 390px;
    right: 2170px;
    position: absolute;
    z-index: 0;
    transform: scale(2.6);
    animation: opacity 10s infinite;
  }
  @keyframes opacity {
    0% {opacity: 1;}
    75% {opacity: 0.7;}
    100% {opacity: 1;}
  }
  .musicOff:hover
  {
  top: 130px;
  }
  .home
  {
    position: absolute;
    top: 460px;
    right: 1080px;
    transform: scale(1.46);
    z-index: 1;
  }
  .aboutme
  {
    position: absolute;
    top: 490px;
    right: 490px;
    transform: scale(1.45);
    z-index: 2;
  }
  .portfo
  {
    position: absolute;
    top: 515px;
    right: 110px;
    transform: scale(1.45);
    z-index: 3;
  }
  .hitabout
  {
    position: absolute;
    top: 470px;
    right: 0px;
    z-index: 1000;
    transform: scale(1);
  }
  .hitportfo
  {
    position: absolute;
    top: 440px;
    right: 595px;
    z-index: 1000;
    transform: scale(0.9);
  }
  .soledadup
  {
    position: absolute;
    top: 526px;
    right: 385px;
    transform: scale(1.35);
    z-index: 4;
  }
  .soledaddw
  {
    position: absolute;
    top: 1040px;
    right: 455px;
    transform: scale(1.4);
    z-index: 3;
  }
  .obj1
  {
    position: absolute;
    top: 575px;
    right: 570px;
    z-index: 5;
    animation: rotation 6s infinite linear;
  }
  @keyframes rotation {
  0% {width: 270px; height: 270px; transform: rotate(0deg);}
   100% {width: 270px; height: 270px; transform: rotate(359deg);}
  }
  .obj2
  {
    position: absolute;
    top: 715px;
    right: 689px;
    z-index: 6;
    transform: scale(1.4);
  }
  .light1
  {
    top: 663px;
    right: 675px;
    position: absolute;
    transform: scale(3);
    opacity: 1;
    z-index: 7;
    animation: mylight 7s ease-in-out 0s infinite;

  }
  @keyframes mylight {
  0% { opacity: 0;}
  50%{ opacity: 0;}
  75%{ opacity: 1;}
  100%{opacity: 0.3;}
  }
  .plane
  {
    top: 30px;
    right: 2480px;
    position: absolute;
    transform: scale(0.8);
    z-index: 4;
    opacity: 0;
    animation: fly 85s ease-in-out 0s;
  }
  @keyframes fly {
    0% {right: 2480px; opacity: 1;}
    99%{right: 5px; transform: scale(0.4); opacity: 0.7;}
    100%{right: 0px; transform: scale(); opacity: 0;}
  }
  .plight
  {
    top: -11px;
    right: 2479px;
    position: absolute;
    transform: scale(0.7);
    opacity: 0;
    z-index: 9;
    animation: fly2 84s ease-in-out 0s, mylight 1.5s infinite; */
  }
  @keyframes fly2 {
    0% {right: 2479px; opacity: 1;}
    100% {right: 5px; transform: scale(0.3); opacity: 0;}
  }
  .plight2
  {
    top: -3px;
    right: 2456px;
    position: absolute;
    transform: scale(0.8);
    opacity: 0;
    z-index: 10;
    animation: fly3 83.4s ease-in-out 0s, mylight 2s infinite; */
  }
  @keyframes fly3 {
    0% {right: 2456px; opacity: 1;}
    100% {right: 1px; transform: scale(0.5);}
  }
  .smoke
  {
    top: 29px;
    right: 2520px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: 15px;
    width: 45px;
    animation: smoke1 110s ease-in-out 1.1s;
  }
  @keyframes smoke1 {
    0% {opacity: 1; width: 45px; right: 2520px;}
    77% {width: 2520px; right:0px; opacity: 1}
    100% {width: 2520px; right:0px; opacity: 0.4;}
  }
  h1
  {
    top: 820px;
    right: 1950px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 16pt
  }
  h2
  {
    top: 1400px;
    right: 185px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 13pt
  }
  h3
  {
    top: 0px;
    right: 10px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 12pt
  }
  p
  {
    top: 1370px;
    right: 150px;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 14pt
  }
}
